@model WebUI.Models.Article.EditArticleViewModel
<form action="@Url.Action()" method="post">
	@Html.AntiForgeryToken()
	@if (ViewContext.ViewData.ModelState.Where(x => x.Key == string.Empty).Any())
	{
		@Html.ValidationSummary(true)
	}
	<ol>
		<li>@Html.LabelFor(m => m.Title) @Html.TextBoxFor(m => m.Title) @Html.ValidationMessageFor(m => m.Title)</li>
		<li>@Html.LabelFor(m => m.Summary) @Html.TextAreaFor(m => m.Summary) @Html.ValidationMessageFor(m => m.Summary)</li>
		<li>@Html.LabelFor(m => m.Content) @Html.TextAreaFor(m => m.Content) @Html.ValidationMessageFor(m => m.Content)</li>
	</ol>
	<button type="reset">Reset</button>
	@Html.ActionLink("Cancel", "Index")
	<button>Submit</button>
</form>

