@model MVC.WebUI.Models.Article.ArticleEditViewModel
@using MVC.WebUI.Helpers

@{
    ViewBag.Title = "Edit Article";
}

@Html.Breadcrumb(actionName: $"Edit: \"{Model.Article.Title}\"")

<form action="@Url.Action("Edit")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <h1>Edit Article</h1>

    @Html.DropDownListFor(m => m.Article.LanguageId, Model.Languages)

    @Html.Partial("_edit-form")

    @Html.HiddenFor(m => m.Article.ArticleId)
    @Html.HiddenFor(m => m.Article.ArticleVersionId)

    <button type="reset">Clear</button>
    <button>Update</button>
    @Html.ActionLink("Back", "Index")
</form>