@model WebUI.Models.Account.ChangePasswordViewModel
@using Domain.Helpers
@{
    ViewBag.Title = "Change Password";
}

<article>
	<h1>Change Password</h1>
	
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Home", "index", "home")</li>
		<li>@Html.ActionLink("Account", "index", "account")</li>
		<li>Change Password</li>
	</ol>

	@if (ViewBag.DisplaySummary == "yes")
	{
		@Html.ValidationSummary(true)
	}
	
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<ol>
			<li>
				@Html.LabelFor(m => m.OldPassword)
				@Html.PasswordFor(m => m.OldPassword, new { required = "required", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.OldPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword, new { required = "required", pattern = RegexHelper.PasswordWeak, title = "Your password must be at least 8 characters long and cannot contain spaces" })
				@Html.ValidationMessageFor(m => m.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword, new { required = "required" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</li>
		</ol>
		<button>Change Password</button>
	}
</article>
