@model WebUI.Models.Account.ResetPasswordViewModel
@using Domain.Helpers
@{
	ViewBag.Title = "Reset Password";
}

<article>
	<h1>Reset Password</h1>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<ol>
			<li>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword, new { required = "required", pattern = RegexHelper.PasswordWeak, title = "Your password must be at least 8 characters long and cannot contain spaces", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword, new { required = "required" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</li>
		</ol>
        <input type="hidden" name="ResetPasswordToken" value="@Request.QueryString["token"]" />
		<button formnovalidate>Reset Password</button>
	}
</article>
