@model MVC.WebUI.Models.Users.UsersIndexViewModel
@{
    ViewBag.Title = "Users";
}

@if (TempData["SuccessMessage"] != null)
{
    <section class="alert success">
        @Html.Raw(TempData["SuccessMessage"])
    </section>
}

<section>
    <h1>Users</h1>
    <ul>
        <li>
            @Html.ActionLink("Add new user", "Create")
        </li>
    </ul>

    @if (Model.Users.Any())
    {
        <table>
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</section>

